    <div class="row" id="now-playing-container">
        <div class="col-md-2" style="display:inline-block">
            <img id="current-album-art" ng-src="{{$ctrl.nowPlayingCoverArt}}" width="100%" height="auto"/>
        </div>
        <div class="col-md-9" style="display:inline-block">
            <h3>{{ $ctrl.nowPlaying.title }}</h3>
            <h4>{{ $ctrl.nowPlaying.artist }}</h4>
            <h5>{{ $ctrl.nowPlaying.album }}</h5>
            <p ng-bind-html="$ctrl.artistInfo"></p>
        </div>
    </div>
    <div class="row" id="play-queue-container">
        <div class="col-md-12">
            <div class="list-group" id="play-queue">
                <a href="#" class="list-group-item list-group-item-action" ng-repeat="song in $ctrl.playQueue">
                    <span style="margin-right:1.2em">{{ $index + 1 }}</span>
                    <span style="margin-right:1.2em">{{ song.title }}</span>
                    <span>{{ $ctrl.formattedSongDuration(song.duration) }}</span>
                    <img src="images/options-icon.png" width="16px" height="auto" style="float:right"/>
                    <img src="images/play-icon.png" width="16px" height="auto" style="float:right"/>
                </a>
            </div>
        </div>
    </div>
    <player-controls></player-controls>