html, body, #main {
    margin: 0;
    height:100%;
}

#now-playing-container {
    height:29%;
    margin-top: 1%;
}

#play-queue-container {
    height: 50%;
    overflow-y: auto;
}

#player-control-container {
    height:10%;
    position:fixed;
    bottom:0;
    border-top: solid 2px grey;
    width: 100%;
    background-color: white;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item {
    border: none;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}